<h1>Hello, admin!</h1>
<div>
  <h2>You have <%= @product_count %> products in your store</h2>
  <h2>You have <%= @category_count %> categories of products in your store</h2>
  <%= link_to 'Your Products Page',  [:admin, :products] %>
</div>
