
<section class=admin-dashboard>
  <header class="page-header">
    <h1>Admin &raquo; Dashboard</h1>
    <p class=products-page><%= link_to 'Your Products',  [:admin, :products] %><p>
    <p class=categories-page><%= link_to 'Your Categories',  [:admin, :categories] %><p>
  </header>
 
  <div class="well">
    <h2 class="count">Current number of Products in your store: <%= @product_count %><h2>
    <h2 class="count">Current number of Categories in your store: <%= @category_count %></h2>
  </div>
  

</section class=admin-dashboard>
