// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";
@import "admin/admin.scss";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

.navbar-nav {
  li {
    span.user-display {
      display: block;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
}
